FinalRelease/node_modules/
FinalRelease/node_modules/.cache/
FinalRelease/server/java-backend/logs/ai-chat-backend.log
FinalRelease/server/java-backend/logs
FinalRelease/server/java-backend/src/test/java/com/aiplatform/repository/
FinalRelease/server/java-backend/src/test/java/com/aiplatform/BaseTest.java
FinalRelease/server/java-backend/uploads/generated/
FinalRelease/server/java-backend/uploads/input/
TechPrototype/
UIPrototype/

